body {
    background-color: silver;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    }
 .profile {
    background-color: white;
    width: 250px;
    padding: 20px;
    text-align: center;
    height: 350px;
    }
 .profile-image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    }
.icons a {
    padding: 20px;
    }
.icons a:hover {
    color: black;
   }